// .hero {
//   padding: 200px 0;
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 1600px;
//   text-align: center;
//   background-color: var(--primary-bg-color-dark);
//   background-image: linear-gradient(to right, rgba(47 48 58 / 40%), rgba(47 48 58 / 40%)),
//     url(../images/hero-img.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }

// .hero-title {
//   margin-bottom: 30px;

//   color: var(--primary-text-color-light);
//   @include font(44px, 1.4);
//   font-weight: 900;
//   text-transform: uppercase;
//   letter-spacing: 0.06em;
//   text-align: center;
// }

.hero {
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 767pxpx;
  text-align: center;
  background-color: var(--primary-bg-color-dark);
  background-image: linear-gradient(to right, rgba(47 48 58 / 40%), rgba(47 48 58 / 40%)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47 48 58 / 40%), rgba(47 48 58 / 40%)),
      url('/images/hero-img-mobile@2x.jpg');
  }
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-text-color-light);
  font-size: 26px;
  line-height: 1.6;

  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47 48 58 / 40%), rgba(47 48 58 / 40%)),
      url(/images/hero-img-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, rgba(47 48 58 / 40%), rgba(47 48 58 / 40%)),
        url('/images/hero-img-tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47 48 58 / 40%), rgba(47 48 58 / 40%)),
      url(/images/hero-img-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, rgba(47 48 58 / 40%), rgba(47 48 58 / 40%)),
        url('/images/hero-img-desktop@2x.jpg');
    }
  }

  .hero-title {
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
  }
}

.hero {
  background-image: linear-gradient(to right, rgba(47 48 58 / 40%), rgba(47 48 58 / 40%)),
    url('/images/hero-img-mobile@2x.jpg');
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-text-color-light);
  font-size: 26px;
  line-height: 1.6;

  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
}
