:root {
  --page-bg-color: #ffffff;
  --primary-text-color-dark: #212121;
  --secondary-text-color-dark: #757575;
  --main-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-text-color-light: #ffffff;
  --primary-bg-color-dark: #2f303a;
  --secondary-bg-color-light: #f5f4fa;
  --logo-header-color: #000000;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
